
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Jayesh Vasani",
  "gender":"Male",
  "nationality":"Indian",
  "url": "https://jayeshvasani.com",
  "birthDate": "1989-12-02",
  "image": "https://en.gravatar.com/userimage/11195180/c8a5b16b3eaea044356a2b97a23d244d.png?size=200",
  "sameAs": [
    "https://www.instagram.com/jayeshvasani/",
    "https://www.linkedin.com/in/jayeshvasani/",
    "https://jayeshvasani.com",
    "https://twitter.com/jayesh_vasani",
    "https://www.facebook.com/jayesh.vasani"
  ],
  "alumniOf": [
	{
	 "@type": "CollegeOrUniversity",
	 "name": "Gujarat Technological University",
	 "sameAs": "https://en.wikipedia.org/wiki/Gujarat_Technological_University"
	},
	{
	 "@type": "CollegeOrUniversity",
	 "name": "Marwadi University",
	 "sameAs": "https://en.wikipedia.org/wiki/Marwadi_University"
	}
],
  "jobTitle": "Technical Project Manager",
  "worksFor": {
    "@type": "Organization",
    "name": "Ninja Technolabs",
    "url":"https://ninjatech.agency",
     "sameAs": [
    "https://www.linkedin.com/company/ninjatechnolabs"
  ]
  }  
}
</script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
	  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EWFBR8CV5X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EWFBR8CV5X');
</script>
  </body>
</html>
